<div class="uk-container">
    <div class="uk-container uk-container-small uk-margin-top">
        <h3 style="color: #42236a;font-weight: bold;">Forgot Password</h3>
        <div class="uk-margin-top">
            <div class="uk-card uk-card-default uk-card-body">
                <form class="transfer-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <mat-error *ngIf="!isvalid" class="uk-text-center">
                        The username were not recognised
                    </mat-error>
                    <mat-form-field class="transfer-form-field">
                        <mat-label>Username</mat-label>
                        <input matInput type="text" formControlName="username" required>
                        <mat-error>
                            Please provide a valid username
                        </mat-error>
                    </mat-form-field>
                    <div class="uk-text-center uk-margin-top">
                        <button mat-raised-button style="background-color: #7b35bb; width: 250px; color: #f58220;" >Continue</button>
                    </div>
                </form>
            </div>        
        </div>
    </div>
</div>