<div class="uk-container">
    <div class="uk-container uk-container-small uk-margin-top">
        <div>
            <div class="uk-card uk-card-default uk-card-body" style="color: #42236a;">
                <div><span class="eb-account-info-subtitle">{{card.fullname}}</span></div>
                <div><span class="eb-account-info-title">{{card.cardNumber}}</span></div>
                <div style="width: 100%">
                    <span class="eb-account-info-subtitle">{{card.balance}} VND </span><span class="fa fa-eye-slash" aria-hidden="true" style="color: #f58220;"></span>
                    <a uk-icon="icon: chevron-right" style="color: #f58220;float: right;" (click)="onClick('card_detail')">Detail </a>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-child-width-expand@s uk-text-center uk-margin-top" uk-grid>
        <div *ngFor="let member of members">
            <div class="uk-card uk-card-default uk-card-body" (click)="onClick(member.action)">
            <p><mat-icon >{{member.title}}</mat-icon></p>
                    <p>{{member.subtitle}}</p>
            </div>
        </div>
    </div>
</div>