<div class="uk-container">
    <ul class="uk-breadcrumb">
        <li><a href="#">Home</a></li>
        <li><span>Update Password</span></li>
    </ul>
    <h3 style="color: #42236a;font-weight: bold;">Update Password</h3>
    <div class="uk-margin-top">
        <div class="uk-card uk-card-default uk-card-body">
            <form class="transfer-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                <mat-form-field class="transfer-form-field">
                    <mat-label>Current Password</mat-label>
                    <input matInput type="password" formControlName="oldPassword" required>
                    <mat-error>
                        Please provide a valid password
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="transfer-form-field">
                    <mat-label>New Password</mat-label>
                    <input matInput type="password" formControlName="newPassword" required>
                    <mat-error>
                        Please provide a valid new password
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="transfer-form-field">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput  type="password" formControlName="confirmPassword" required>
                    <mat-error>
                        Please provide a valid confirm password
                    </mat-error>
                </mat-form-field>
                <div class="uk-text-center uk-margin-top">
                    <button mat-raised-button style="background-color: #7b35bb; width: 250px; color: #f58220;" >Update</button>
                </div>
            </form>
        </div>        
    </div>
</div>