<div class="uk-container">
    <ul class="uk-breadcrumb">
        <li><a href="#">Home</a></li>
        <li><span>Update Password</span></li>
    </ul>
    <h3 style="color: #42236a;font-weight: bold;">Update Password</h3>
    <div class="uk-margin-top">
        <div class="uk-card uk-card-default uk-card-body">
            <form class="transfer-form">
                <mat-form-field class="transfer-form-field">
                <mat-label>Current Password</mat-label>
                <input matInput type="password">
                </mat-form-field>
                <mat-form-field class="transfer-form-field">
                    <mat-label>New Password</mat-label>
                    <input matInput type="password" >
                </mat-form-field>
                <mat-form-field class="transfer-form-field">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput  type="password">
                </mat-form-field>
                <mat-form-field class="transfer-form-field">
                    <mat-label>OTP Code</mat-label>
                    <input matInput placeholder="907281" >
                </mat-form-field>
              </form>
              <div class="uk-margin-top container-a-row uk-text-left">
                <a style="color: #f58220;"><span class="fa fa-envelope" aria-hidden="true"></span> Send to my mail</a>
                <a style="color: #f58220; float:right;"><span class="fa fa-comment" aria-hidden="true"></span> Send to my phone</a>
              </div>
        </div>
        <div class="uk-text-center uk-margin-top">
            <button mat-raised-button style="background-color: #7b35bb; width: 250px; color: #f58220;" (click)="onClick()">Update</button>
        </div>
    </div>
</div>