USE [master]
GO
/****** Object:  Database [ebanking]    Script Date: 24-May-20 6:19:07 PM ******/
CREATE DATABASE [ebanking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ebanking', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ebanking.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ebanking_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ebanking_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ebanking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ebanking]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 24-May-20 6:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID] [nchar](10) NOT NULL,
	[PASSWORD] [nvarchar](100) NULL,
	[CARD_ID] [nchar](10) NULL,
	[FIRST_NAME] [nvarchar](50) NULL,
	[LAST_NAME] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[CITY] [nvarchar](50) NULL,
	[PHONE_NUMBER] [nchar](20) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[ACTIVE] [bit] NULL,
	[ROLE_ID] [nchar](10) NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACCOUNTTYPE]    Script Date: 24-May-20 6:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCOUNTTYPE](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[LONG_DESCRIPTION] [nvarchar](50) NOT NULL,
	[SHORT_DESCRIPTION] [char](5) NOT NULL,
	[ACTIVE] [bit] NULL,
 CONSTRAINT [PK_ACCOUNTTYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BRANCH]    Script Date: 24-May-20 6:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRANCH](
	[ID] [nchar](10) NOT NULL,
	[BRANCH_NAME] [nvarchar](50) NOT NULL,
	[ADDRESS] [nvarchar](100) NOT NULL,
	[CONTACT_NUMBER] [nchar](10) NOT NULL,
	[ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_BRANCH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CARD]    Script Date: 24-May-20 6:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARD](
	[ACCOUNT_NUMBER] [nchar](30) NOT NULL,
	[BALANCE] [float] NOT NULL,
	[AVAILABLE_BALANCE] [float] NOT NULL,
	[BRANCH_ID] [nchar](10) NOT NULL,
	[OVERDRAF_TINTER_RESTRATE] [nchar](10) NOT NULL,
	[OVERDRAFT_LIMIT] [float] NOT NULL,
	[ISSUE_DATE] [date] NOT NULL,
	[ACCOUNT_TYPE_ID] [smallint] NOT NULL,
	[ACCOUNT_ID] [nchar](10) NULL,
	[ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_CARDDETAIL] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CMND]    Script Date: 24-May-20 6:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMND](
	[ID] [nchar](10) NOT NULL,
	[CARD_ID] [nvarchar](30) NULL,
	[DATE_GRANTED] [date] NULL,
	[PLACE_GRANTED] [nvarchar](50) NULL,
	[FULLNAME] [nvarchar](50) NULL,
	[DATE_OF_BIRTH] [date] NULL,
	[ACTIVE] [bit] NULL,
 CONSTRAINT [PK_IDCARD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 24-May-20 6:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[ROLE_ID] [nchar](10) NOT NULL,
	[ROLE_NAME] [nvarchar](50) NOT NULL,
	[ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRANSACTION]    Script Date: 24-May-20 6:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACTION](
	[TRANSACTION_ID] [nchar](30) NOT NULL,
	[TRANSACTION_DESCRIPTION] [nvarchar](100) NULL,
	[TRANSACTION_DATE] [datetime] NULL,
	[TRANSACTION_MESSAGE] [nvarchar](50) NULL,
	[CARD_ID] [nchar](30) NULL,
	[TRANSACTION_STATUS] [bit] NULL,
	[CARD_FROM] [nchar](30) NULL,
	[CARD_TO] [nchar](30) NULL,
	[TRANSACTION_AMOUT] [float] NULL,
 CONSTRAINT [PK_TRANSACTION] PRIMARY KEY CLUSTERED 
(
	[TRANSACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ACCOUNT] ADD  CONSTRAINT [DF_ACCOUNT_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[ACCOUNTTYPE] ADD  CONSTRAINT [DF_ACCOUNTTYPE_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[BRANCH] ADD  CONSTRAINT [DF_BRANCH_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[CARD] ADD  CONSTRAINT [DF_CARD_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[CMND] ADD  CONSTRAINT [DF_CMND_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[ROLE] ADD  CONSTRAINT [DF_ROLE_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[TRANSACTION] ADD  CONSTRAINT [DF_TRANSACTION_TRANSACTION_STATUS]  DEFAULT ((1)) FOR [TRANSACTION_STATUS]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_CMND] FOREIGN KEY([CARD_ID])
REFERENCES [dbo].[CMND] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_ACCOUNT_CMND]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_ROLE] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLE] ([ROLE_ID])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_ACCOUNT_ROLE]
GO
ALTER TABLE [dbo].[CARD]  WITH CHECK ADD  CONSTRAINT [FK_CARD_ACCOUNT] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[CARD] CHECK CONSTRAINT [FK_CARD_ACCOUNT]
GO
ALTER TABLE [dbo].[CARD]  WITH CHECK ADD  CONSTRAINT [FK_CARD_ACCOUNTTYPE] FOREIGN KEY([ACCOUNT_TYPE_ID])
REFERENCES [dbo].[ACCOUNTTYPE] ([ID])
GO
ALTER TABLE [dbo].[CARD] CHECK CONSTRAINT [FK_CARD_ACCOUNTTYPE]
GO
ALTER TABLE [dbo].[CARD]  WITH CHECK ADD  CONSTRAINT [FK_CARD_BRANCH] FOREIGN KEY([BRANCH_ID])
REFERENCES [dbo].[BRANCH] ([ID])
GO
ALTER TABLE [dbo].[CARD] CHECK CONSTRAINT [FK_CARD_BRANCH]
GO
ALTER TABLE [dbo].[TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACTION_CARD] FOREIGN KEY([CARD_ID])
REFERENCES [dbo].[CARD] ([ACCOUNT_NUMBER])
GO
ALTER TABLE [dbo].[TRANSACTION] CHECK CONSTRAINT [FK_TRANSACTION_CARD]
GO
USE [master]
GO
