<div class="uk-container">
    <ul class="uk-breadcrumb">
        <li><a (click)="backHome()">Home</a></li>
        <li><span>Account Information</span></li>
    </ul>
    <h3 style="color: #42236a;font-weight: bold;">Account Information</h3>
    <div class="uk-child-width-1-2@m" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-column-1-1 uk-column-divider">
                    <p class="eb-account-info-title">UserName</p>
                    <p  class="eb-account-info-subtitle">{{accountResponseDTO.accountId}}</p>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-column-1-2@m uk-column-divider">
                    <div>
                        <p class="eb-account-info-title">Place of Issue</p>
                        <p class="eb-account-info-subtitle">{{accountResponseDTO.cmndDTO.placeGranted}}</p>
                    </div>
                
                    <div>
                        <p class="eb-account-info-title">Date of Issue</p>
                        <p class="eb-account-info-subtitle">{{accountResponseDTO.cmndDTO.dateGranted}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="uk-child-width-1-2@m" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-column-1-1 uk-column-divider">
                    <p class="eb-account-info-title">Fullname</p>
                    <p class="eb-account-info-subtitle">{{accountResponseDTO.lastName}} {{accountResponseDTO.firstName}}</p>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-column-1-1 uk-column-divider">
                    <p class="eb-account-info-title">Address <span style="float: right;color: #f58220;" class="fa fa-pencil-square" aria-hidden="true" uk-tooltip="Edit"></span></p>
                    <p class="eb-account-info-subtitle">{{accountResponseDTO.address}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-child-width-1-2@m" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-column-1-1 uk-column-divider">
                    <p class="eb-account-info-title">Phone Number</p>
                    <p class="eb-account-info-subtitle">{{accountResponseDTO.phoneNum}}</p>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-column-1-1 uk-column-divider">
                    <p class="eb-account-info-title">Email <span style="float: right;color: #f58220;" class="fa fa-pencil-square" aria-hidden="true" uk-tooltip="Edit"></span></p>
                    <p class="eb-account-info-subtitle">{{accountResponseDTO.email}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-child-width-1-2@m" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-column-1-1 uk-column-divider">
                    <p class="eb-account-info-title">Id Number/ Passport/ CCCD Card</p>
                    <p class="eb-account-info-subtitle">{{accountResponseDTO.cmndDTO.id}}</p>
                </div>
            </div>
        </div>
    </div>
</div>