<div class="uk-container">
    <ul class="uk-breadcrumb">
        <li><a href="#">Home</a></li>
        <li><span>Account Information</span></li>
    </ul>
    <h3 style="color: #42236a;font-weight: bold;">Account Information</h3>
    <div class="uk-child-width-1-2@m" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-column-1-1 uk-column-divider">
                    <p class="eb-account-info-title">UserName</p>
                    <p  class="eb-account-info-subtitle">02371721</p>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-column-1-2@m uk-column-divider">
                    <div>
                        <p class="eb-account-info-title">Place of Issue</p>
                        <p class="eb-account-info-subtitle">CCS QLHC VA TTXH</p>
                    </div>
                
                    <div>
                        <p class="eb-account-info-title">Date of Issue</p>
                        <p class="eb-account-info-subtitle">20/03/2019</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="uk-child-width-1-2@m" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-column-1-1 uk-column-divider">
                    <p class="eb-account-info-title">Fullname</p>
                    <p class="eb-account-info-subtitle">PHAM HUNG</p>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-column-1-1 uk-column-divider">
                    <p class="eb-account-info-title">Address <span style="float: right;color: #f58220;" class="fa fa-pencil-square" aria-hidden="true" uk-tooltip="Edit"></span></p>
                    <p class="eb-account-info-subtitle">97,Man Thien, Hiep Phu, Quan 9, HCM</p>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-child-width-1-2@m" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-column-1-1 uk-column-divider">
                    <p class="eb-account-info-title">Phone Number</p>
                    <p class="eb-account-info-subtitle">036 3365 053</p>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-column-1-1 uk-column-divider">
                    <p class="eb-account-info-title">Email <span style="float: right;color: #f58220;" class="fa fa-pencil-square" aria-hidden="true" uk-tooltip="Edit"></span></p>
                    <p class="eb-account-info-subtitle">phamhung.pitit@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-child-width-1-2@m" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-column-1-1 uk-column-divider">
                    <p class="eb-account-info-title">Id Number/ Passport/ CCCD Card</p>
                    <p class="eb-account-info-subtitle">043762172672</p>
                </div>
            </div>
        </div>
    </div>
</div>