
.fixed-header {
    background-color: #7b35bb;
    color: #ebebfa;
}
mat-drawer {
    width: 200px;
    background-color: #7b35bb;
    padding-top: 50px;
}
.mat-list-base .mat-list-item {
    color: #ebebfa;
    font-size: 14px;
}
